body .btn-large {
    background-color: #005C92;
    user-select: none;
    border-radius: 25%;
}

body .btn {
    background-color: #005C92;
    border-radius: 25%;
}

div {
    transition: all 1s;
}

.black {
    background: black;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: antiquewhite;
    display: flex;
    margin-left: 100px;
    margin-bottom: 30px;
}

.btn-large {
    user-select: none;
}
