body .btn-large {
    background-color: #005C92;
    user-select: none;
    border-radius: 25%;
}

body .btn {
    background-color: #005C92;
    border-radius: 25%;
    font-size:1vw;
}

#header {
    display: flex;
    align-items: center;
    height: 15vh; 
    background: linear-gradient(rgba(0, 150, 250, 0.192), rgba(0, 46, 107, 0.062));
}

#logo-cont {
    display: flex; 
    background-color: none; 
    align-items: center; 
    padding-top: 100px;
}

#LOGO {
    width: 300px; height: 300px;
}

.black {
    background: black;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: antiquewhite;
    display: flex;
    /* margin-left: 100px; */
    margin-bottom: 30px;
}

.btn-large {
    user-select: none;
}


.one-above-all {
    width: 100%;
    
    margin: 0 auto;
    overflow: hidden;
}

#hell {
    width: 80%;
    justify-content: center;
}

.hell-div {
    width: 60%; 
    height: 80vh; 
    padding-top: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.062));
}

.div2 {
    padding: 0px;
    width: 60%; 
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.062));
}

.map {
    padding-left: 50px;
}

.mediaIcono {
    width: 50px;
    height: 50px;
    
}

.socialMediaSuperior {
    margin-left: 50px;
}

#socialMedia {
    margin-left: 50px;
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 1000px){

    body {
        text-align: center;
        background-position: center;
    }

    .btn {
        font-size: small;
    }

    #header-btn {
        display: flex;
        flex-flow: row nowrap;
        margin-top: -40px;
    }
    
    #header {
        flex-flow: column;
        height: 30vh;
        margin-top: -36px;
        margin-bottom: -50px;
    }

    #logo-cont {
        padding-top: 0;
    }

    #LOGO {
        width: 20vh;
        height: 20vh;
    }

    .hell-div {
        width: 50%;
        height: 60vh;
        font-size: small;
        padding-top: 50px; 

    }

    .contenedor-map {
        display: flex;
        flex-flow: column-reverse wrap;
        align-items: center;
        justify-content: center;
    }

    #div0 {
        height: 40vh;
        margin-bottom: 20vh;
    }

    #div1 {
        height: 40vh;
        margin-bottom: 20vh;
    }

    #div2 {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40vh;
    }

    #div3 {
        height: 40vh;
        margin-bottom: 20vh;
    }

    .map {
        padding-left: 0px;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #googleMap {
        width: 30vh;
        height: 30vh;
    }

    
    #socialMedia {
        justify-content: space-around;        
        display: flex;
        margin-top: 20px;
        margin-left: 0;
        width: 250px;
        height: 75px;
        
        
    }
    
    .mediaIcono {
        
        width: 50px;
        height: 30px;
    }

}